<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet"  type="text/css" href="{{url_for('static',filename='css/home.css')}}">
    <title>Home</title>
    <style>
        #carousel .carousel-item.boat {
  background-image: url("https://www.elsevier.com/__data/assets/image/0011/997553/Laptop-iStock.jpg");
}

#carousel .carousel-item.sea {
  background-image: url("https://cdn.startupsavant.com/images/news/cogniac-increases-funds.jpg");
}

#carousel .carousel-item.river {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/1001/494/425/blank-brainstorming-business-coffee-wallpaper-preview.jpg");
}
    </style>
</head>
<body class="bg-nav">
    <div class=" d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal ">Sherlock Stackflow</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/Register">Register</a>
        <a class="p-2 text-dark" href="/login">Login</a>


      </nav>
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
    <div id="carousel" class="carousel slide hero-slides" data-ride="carousel">

  <ol class="carousel-indicators">
    <li class="active" data-target="#carousel" data-slide-to="0"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active boat">
      <div class="container h-100 d-none d-md-block">
        <div class="row align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="caption animated fadeIn">
              <h2 class="animated fadeInLeft"> Sherlock Stackflow</h2>
              <p class="animated fadeInRight"> <h1>Share and grow the world’s knowledge !</h1>
We want to connect the people who have knowledge to the people who need it ,
to bring together people with different perspectives
so they can understand each other better,and to empower everyone to share the knowledge</p>
              <a class="animated fadeInUp btn delicious-btn" href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item sea">
      <div class="container h-100 d-none d-md-block">
        <div class="row align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="caption animated fadeIn">
              <h2 class="animated fadeInLeft">let's share our knowledege</h2>
              <p class="animated fadeInRight"><h1>share and grow the world’s knowledge !</h1>
We want to connect the people who have knowledge to the people who need it ,
to bring together people with different perspectives
so they can understand each other better,and to empower everyone to share the knowledge</p>
              <a class="animated fadeInUp btn delicious-btn" href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item river">
      <div class="container h-100 d-none d-md-block">
        <div class="row align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="caption animated fadeIn">
              <h2 class="animated fadeInLeft">Feel free to share your query and search it,in the point of other perspectives</h2>
              <p class="animated fadeInRight"><h1>share and grow the world’s knowledge !</h1>
We want to connect the people who have knowledge to the people who need it ,
to bring together people with different perspectives
so they can understand each other better,and to empower everyone to share the knowledge</p>
              <a class="animated fadeInUp btn delicious-btn" href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    <div class="container" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-success">
                    <div class="card-body">
                        <h2>What are the various types of relationships in Database? Define them</h2>
                        <h4>Duplication of data in the database is known as data redundancy. As a result of data redundancy, duplicated data is present at multiple locations, hence it leads to wastage of the storage space and the integrity of the database is destroyed.</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-info">
                    <div class="card-body">
                        <h2>What are the various types of relationships in Database? Define them</h2>
                        <h4>Duplication of data in the database is known as data redundancy. As a result of data redundancy, duplicated data is present at multiple locations, hence it leads to wastage of the storage space and the integrity of the database is destroyed.</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-warning">
                    <div class="card-body">
                        <h2>Enlist the advantages of DBMS.</h2>
                        <h4>Data is stored in a structured way and hence redundancy is controlled.
Validates the data entered and provide restrictions on unauthorized access to the database.</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body bg-danger">
                        <h2>Enlist the advantages of DBMS.</h2>
                        <h4>Data is stored in a structured way and hence redundancy is controlled.
Validates the data entered and provide restrictions on unauthorized access to the database.</h4>
                    </div>
                </div>
            </div>
        </div>



        </div>
    </div>











    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
</html>